body {
    background-color: rgb(176, 109, 61);
    margin: 0;
    padding: 0;
  }

  .container {
    background-color: yellow;
    margin: 200px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
  }

  .question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .plus {
    right: 12px;
    position: absolute;
    cursor: pointer;
  }

  .minus {
    position: absolute;
    right: 12px;
    cursor: pointer;
  }

  p {
    border-top: solid 2px gray;
    padding-top: 10px;
  }

  .minus-active {
    display: none;
  }

  .active-container {
    display: none;
  }